.bingoMachineBallPartB {
    /* SPHERE */
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 50%;

    /* BORDER */
    border-style: solid;
    border-color: #393E46;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-bottom-width: 8px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* ALIGNMENT */
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.bingoMachineBallPartM {
    /* SPHERE */
    width: 80px;
    height: 80px;
    background-color: inherit;
    border-radius: 50%;

    /* BORDER */
    border-style: solid;
    border-color: inherit;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-bottom-width: 8px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* ALIGNMENT */
    position: relative;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 12px;
}

.bingoMachineBallPartS {
    /* SPHERE */
    width: 40px;
    height: 40px;
    background-color: inherit;
    border-radius: 50%;

    /* BORDER */
    border-style: solid;
    border-color: inherit;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-bottom-width: 8px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* ALIGNMENT */
    position: relative;
    left: 32px;
    right: 32px;
    top: -64px;
    bottom: -64px;
}

.meshV {
    /* SIZE */
    width: 0px;
    height: 120px;
    background-color: #393E46;

    /* BORDER */
    border-style: solid;
    border-color: transparent;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;   
    
    /* ALIGNMENT */
    position: relative;
    left: 56px;
    right: 56px;
    top: -155px;
    bottom: -155px;
}

.meshH {
    /* SIZE */
    width: 120px;
    height: 0px;
    background-color: inherit;

    /* BORDER */
    border-style: solid;
    border-color: inherit;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* ALIGNMENT */
    position: relative;
    left: 0px;
    right: 0px;
    top: -224px;
    bottom: -224px;
}

.bingoMachineBallBase {
    /* SIZE */
    width: 100px;
    height: 10px;

    /* COLOR */
    background-color: #393E46;

    /* BORDER */
    border-style: solid;
    border-color: inherit;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 20px;
    border-bottom-width: 20px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* ALIGNMENT */
    position: relative;
    left: -10px;
    right: -10px;
    top: -140px;
    bottom: -140px;
}

.triangleLeft {
    /* SIZE */
    width: 0px;
    height: 120px;
    background-color: inherit;

    /* BORDER */
    border-style: solid;
    border-color: inherit;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* TRANSFORM */
    transform: rotate(30deg);

    /* ALIGNMENT */
    position: relative;
    left: 16px;
    right: 16px;
    top: -120px;
    bottom: -120px;
}

.triangleRight {
    /* SIZE */
    width: 0px;
    height: 120px;
    background-color: inherit;

    /* BORDER */
    border-style: solid;
    border-color: inherit;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;

    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* TRANSFORM */
    transform: rotate(-30deg);

    /* ALIGNMENT */
    position: relative;
    left: 76px;
    right: 76px;
    top: -248px;
    bottom: -248px;
}