body {
    text-align: center;
    background-color: #222831;
}

p {
    /* TEXT */
    font-family: monospace;
    font-size: 3vh;
    color: #EEEEEE;

    /* MARGIN */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.palett{
    color: #222831;
    color: #393E46;
    color: #00ADB5;
    color: #EEEEEE;
    color: #de1818;
    color: #cede18;
}

h1 {
    /* TEXT */
    text-shadow: 5px 5px 5px #de1818;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 10vh;
    color: #000000;

    /* MARGIN */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.h2 {
    /* TEXT */
    text-shadow: 5px 5px 5px #1fc82b;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 7vh;
    color: #000000;

    /* MARGIN */
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h3 {
    /* TEXT */
    text-shadow: 5px 5px 5px #ea921e;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 7vh;
    color: #000000;

    /* MARGIN */
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

button[type="startGame"]{
    /* SIZE */
    width: 100px;
    height: 40px;

    /* MARGIN */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    /* COLOR */
    background-color: #00ADB5;
    
    /* TEXT */
    font-family: monospace;
    font-weight: bold;
    text-align: center;

    /* BORDER */
    border-color: #000000;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
}

button[type="cardButton"]{
    /* COLOR */
    background-color: transparent;

    /* BORDER */
    border-color: transparent;
}

button[type="cardButton"]:hover{
    /* COLOR */
    background-color: #27b500;

    /* BORDER */
    border-color: transparent;
}

input[type="player"] {
    /* SIZE */
    width: 100px;
    height: 40px;

    /* MARGIN */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    /* COLOR */
    background-color: #00ADB5;
    
    /* TEXT */
    font-family: monospace;
    font-weight: bold;
    text-align: center;

    /* BORDER */
    border-color: #000000;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
}

.nameRank {
    /* TEXT */
    text-shadow: 5px 5px 5px #ea921e;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 7vh;
    color: #000000;

    /* MARGIN */
    margin-top: -5px;
    margin-bottom: 0px;
    margin-left: -5px;
    margin-right: 00px;

    /* BORDER */
    border-style: solid;
    border-color: #000000;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.ranking {
    /* MARGIN */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    /* margin: auto; */
    
    /* SIZE */
    width: 100vh;
    height: 100vv;
    
    /* GRID */
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 0px;

    /* BORDER */
    border-style: solid;
    border-color: #000000;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.cardSelector {
    /* MARGIN */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    /* margin: auto; */

    /* SIZE */
    width: 100vh;
    height: 100vv;

    /* COLOR */
    /* background-color: #de1818; */

    /* GRID */
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 10px;

    /* BORDER */
    border-style: solid;
    border-color: #000000;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.card {
    /* MARGIN */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* SIZE */
    width: 300px;
    height: 300px;

    /* COLOR */
    background-color: #00ADB5;

    /* GRID */
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(5, 0fr);
    gap: 0px;

    /* BORDER */
    border-style: solid;
    border-color: #393E46;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-radius: 10px;

    /* TEXT */
    text-shadow: none;
    text-align: center;
    text-align: inherit;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    line-height: 50px;
    color: #000000;

}

.emptyBox {
    /* SIZE */
    width: 60px;
    height: 60px;

    /* COLOR */
    /* background-color: #003cff; */

    /* TEXT */
    text-align: center;
    text-align: inherit;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    line-height: 50px;
    color: #000000;
}

.box {
    /* SIZE */
    width: 50px;
    height: 50px;

    /* COLOR */
    background-color: #EEEEEE;

    /* BORDER */
    border-style: solid;
    border-color: #393E46;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;

    /* MARGIN */
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    margin-bottom: -5px;

    /* TEXT */
    text-align: center;
    text-align: inherit;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    line-height: 50px;
    color: #000000;
}

.ballGrid {
    /* GRID */
    display: grid;
    grid-template-columns: repeat(12, 0fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 10px;

    /* MARGIN */
    margin-left: 150px;
    margin-right: 0px;
    margin-top: -100px;
    margin-bottom: 0px;
}

.ball {
    /* BALL */
    width: 10vh;
    height: 10vh;
    background-color: #EEEEEE;
    border-radius: 50%;

    /* TEXT */
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    line-height: normal;
    color: #000000;

    /* BORDER */
    border-style: solid;
    border-color: #393E46;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;

    /* CENTERING */
    display: flex;
    justify-content: center;
    align-items: center;
}
